<a href="https://colab.research.google.com/github/mikeytw11/Hockey/blob/main/Descriptive_vs_Predictive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


The goal of this script is to compare the GF%, CF% and xGF% from the first 41 games of the season to the last 41 games of the season. This data views only full seasonsa and so the 12/13, 19/20 and 20/21 seasons are excluded. Other than that we are looking at full seasons from 07/08 to 21/22.

In [8]:
#Import dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
#Gather data for GF%, CF% and xGF% for all 32 teams.
Avalanche = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Blackhawks = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Blue_Jackets = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Blues = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Bruins = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Canadiens = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Canucks = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Capitals = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Coyotes = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Devils = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Ducks = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Flames = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Flyers = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Hurricanes = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Islanders = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Jets = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")
Kings = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks.csv")

,Team,Date,Game_ID,Season,Opponent,Is_Home,TOI,GF%,SF%,FF%,...,FA,CF,CA,xGF,xGA,G±,S±,F±,C±,xG±
0,VAN,2007-10-05,2007020020,20072008,S.J,1,36.73,22.65,34.57,36.01,...,27.68,27.55,36.59,0.94,1.62,-2.26,-10.84,-12.11,-9.04,-0.67
1,VAN,2007-10-06,2007020032,20072008,CGY,0,42.08,0.00,41.64,36.91,...,31.18,29.12,46.74,0.83,1.39,-1.88,-5.72,-12.94,-17.62,-0.56
2,VAN,2007-10-10,2007020050,20072008,PHI,1,39.08,0.00,46.41,49.58,...,26.13,32.86,34.72,0.96,1.61,-5.34,-2.61,-0.43,-1.86,-0.65
3,VAN,2007-10-12,2007020061,20072008,EDM,0,51.18,82.00,46.38,48.96,...,27.75,32.76,43.09,2.15,1.19,3.34,-3.06,-1.13,-10.34,0.96
4,VAN,2007-10-13,2007020073,20072008,EDM,1,40.12,100.00,48.86,47.12,...,24.46,29.01,29.72,1.25,1.30,2.92,-0.78,-2.66,-0.71,-0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,VAN,2022-04-23,2021021256,20212022,CGY,0,50.07,34.11,42.87,39.33,...,44.84,31.57,58.77,1.59,2.39,-1.88,-7.43,-15.77,-27.20,-0.80
980,VAN,2022-04-26,2021021284,20212022,SEA,1,43.68,79.44,51.41,50.12,...,28.27,38.61,36.88,1.56,1.64,2.90,1.15,0.14,1.74,-0.08
981,VAN,2022-04-28,2021021310,20212022,L.A,1,47.50,30.55,45.76,48.98,...,32.64,48.82,38.21,1.99,2.59,-1.19,-3.90,-1.31,10.61,-0.60
982,VAN,2022-04-29,2021021207,20212022,EDM,0,53.78,53.08,54.38,56.66,...,35.43,60.74,52.88,3.30,2.46,0.25,5.01,10.88,7.86,0.85
983,VAN,Total,-,07-22,-,-,47.05,50.16,49.05,49.32,...,31560.59,41080.97,41866.45,1664.11,1815.92,11.33,-856.97,-845.84,-785.48,-151.80

In [10]:
#Restrict columns to Team, GF%, CF%, xGF% for all 32 teams
Canucks = Canucks.loc[:,['Team','GF%','CF%','xGF%']]
Canucks

    Team     GF%    CF%   xGF%
0    VAN   22.65  42.95  36.86
1    VAN    0.00  38.39  37.31
2    VAN    0.00  48.63  37.33
3    VAN   82.00  43.19  64.32
4    VAN  100.00  49.40  48.87
..   ...     ...    ...    ...
979  VAN   34.11  34.94  39.94
980  VAN   79.44  51.15  48.69
981  VAN   30.55  56.10  43.50
982  VAN   53.08  53.46  57.36
983  VAN   50.16  49.53  47.82

[984 rows x 4 columns]

In [11]:
Canucks['Game No.'] = Canucks.index %82 + 1
Canucks

    Team     GF%    CF%   xGF%  Game No.
0    VAN   22.65  42.95  36.86         1
1    VAN    0.00  38.39  37.31         2
2    VAN    0.00  48.63  37.33         3
3    VAN   82.00  43.19  64.32         4
4    VAN  100.00  49.40  48.87         5
..   ...     ...    ...    ...       ...
979  VAN   34.11  34.94  39.94        78
980  VAN   79.44  51.15  48.69        79
981  VAN   30.55  56.10  43.50        80
982  VAN   53.08  53.46  57.36        81
983  VAN   50.16  49.53  47.82        82

[984 rows x 5 columns]

In [12]:
#pd.set_option('display.max_rows', None)